# ignore all uploaded files (do not commit to git)
*
!.gitignore

# TODO: except do not ignore the "seed" images for the "entries" table.
!/techs/
!/techs/1.png
!/techs/2.png
!/techs/3.png
!/techs/4.png
!/techs/5.jpg
!/techs/6.png
!/techs/7.png
!/techs/8.png
!/techs/9.png
!/techs/10.png
!/techs/11.jpeg
!/techs/12.png
