# ignore all uploaded files (do not commit to git)
*
!.gitignore

# TODO: except do not ignore the "seed" images for the "entries" table.
!/techs/
!/techs/1.png
!/techs/2.png
# !/techs/3.pdf
# !/techs/4.svg
# !/techs/5.png
# !/techs/6.jpg
# !/techs/7.pdf
# !/techs/8.svg
