html {
  background-color: #c3e6ff;
}

.home,
footer,
header {
  min-width: 835px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.img-btn {
  background: none;
  border: none
}

.catalog-queries aside {
  width: 220px;
  margin-top: -20px;
}

.catalog-queries {
  margin-right: 20px;
}

.home-body h2 {
  margin-bottom: 40px;
}

.catalog-sect {
  margin-top: 200px;
}

.insert-entry:hover,
.img-btn:hover {
  opacity: .3;
}

main {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.logo,
.logo-cite {
  margin-left: 10px;
}

main {
  padding-right: 10px;
}

.login {
  margin-right: 10px;
}

.login_home {
  margin-right: 15.3px;
}

.logout {
  margin-right: 8px;
  margin-left: -10px;
}

.logo-cite {
  font-size: 8px;
  margin-top: -30px;
}

p {
  font-size: 18px;
}

.bg-nav-ft {
  background-color: #96d1fb;
}

main {
  background-color: #e3f2fd;
  min-height: 220px;
}

.title {
  font-size: 48px;
}

.ft-mg {
  padding: 10px
}

.no-tags-alert {
  display: flex;
  justify-content: center;
}

.no-tags-alert p {
  margin: 0;
}

.filter-list {
  list-style-type: none
}

.filter-list-ul {
  margin-top: -20px;
}

.filter-submit-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}


.filter-form {
  max-width: 250px;
}

.catalog-sect {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.catalog-sect {
  margin-top: 20px;
  margin-bottom: 20px
}

.catalog-body {
  background-color: #cae7fb;
  padding: 30px;
  min-height: 500px;
}

.catalog-queries {
  padding-top: 30px;
}

.catalog-sort-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
}

.media-entry {
  max-width: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tag-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: -10px;
  align-self: center;
  justify-self: center;
}

.tag-mg-home {
  margin-bottom: -10px;
  align-self: flex-start;
}

.new-entry {
  width: 275px;
  height: 300px;
  border: dashed 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.new-entry .p-cite-new-entry {
  margin: 0;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-cite-new-entry {
  margin: 0;
}

.new-entry img {
  margin-top: -40px;
}

.new-entry cite {
  font-size: 10px;
}

.a-icon-style {
  text-decoration: none;
  font-size: 32px;
}

.footer-top-sect {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid white
}

.footer-p {
  padding: 0;
  padding-top: 10px;
}

.section-footer-2 {
  margin-top: 20px;
}

.section-2 h6 {
  margin-top: 10px;
  margin-bottom: 16px;
  padding-left: 20px;
}

.about-us-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 60px;
  min-width: 695px;
}

.section-2 {
  margin-top: 20px;
  padding-left: 5px;
}

.section-3 {
  background-color: #c3e6ff;
  margin-right: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-3 p {
  max-width: 1200px;
}

.description-citation,
.definition-citation {
  margin-top: -15px;
}

.def-edit-mg {
  margin-left: 10px;
}

.details-entry h2 {
  margin-bottom: 20px;
}


.definition-edit {
  margin-left: 5px;
}

.tags-group {
  margin-bottom: 10px;
  min-height: 60px;
}

.definition-group,
.example-group,
.description-group {
  margin-bottom: 40px;
}



/******** CSS STYLING FOR DETAILS PAGE *********/

.record-name {
  font-size: 48px;
  margin-bottom: 20px;
}

.record-display {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px
}

.record-info1 {
  display: flex;
  flex-direction: column;
  width: 350px;
  min-width: 350px;
  padding-right: 50px;
}

.record-info2 {
  margin-right: 10px;
}

.hot-logo {
  color: red;
  font-size: 30px;
  font-weight: 700;
}

.rating-p,
.hot-p {
  font-size: 14px;
  font-style: italic;
  color: rgb(0, 0, 0);
}

.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 7px;
  min-height: 20px;
}

.filter-list span {
  margin-bottom: 3px;
}

.filter-list .exit-filter {
  background-color: #ffffff;
  padding: 2px;
  border-radius: 10%;
}

.record-ratings-tags {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 12px
}

.bg-tag-color {
  background-color: rgb(0, 50, 214);
}

.bg-tag-color-2 {
  background-color: rgb(0, 82, 175);
}

cite a,
.resource-link-show,
.login_home,
.go-home {
  color: rgb(0, 79, 157)
}

.hot-caption,
.rating-caption {
  color: rgb(0, 0, 0);
}

.tag-mg {
  margin-top: 15px;
}

.rating-logo,
.hot-logo {
  font-size: 24px;
}

.rating,
.hot-score {
  font-size: 20px;
}

.bg-code {
  color: #265077;
  background-color: rgb(236, 247, 255);
  padding: 10px;
  margin: 10px;
  margin-right: 15px;
}

.exit-filter {
  background: none;
  border: none;
  text-decoration: none;
}

.exit-filter:hover {
  opacity: .3;
}

.tags-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.tag-form {
  margin-top: 10px;
}

.details-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details-top button {
  align-self: center;
}


/***********************************************/

/******************details/edit********************/

.edit-btn {
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
  padding-bottom: 0;
  align-self: center;
  margin-bottom: 20px;
}

.delete-btn {
  border-radius: 10%;
}

.delete-btn span {
  color: rgb(190, 0, 0)
}

.delete-div {
  display: flex;
  justify-content: center;
}

.record-name-group {
  display: flex;
  flex-grow: 0;
  padding: 0;
  gap: 5px;
  margin-bottom: -10px;
  align-items: center;
}

.def-blurb {
  display: flex;
}

.h3-edit-group {
  display: flex;
  gap: 5px
}

.textarea-input-edit {
  display: flex;
  flex-direction: column;
}

.textarea-input-edit textarea {
  align-self: flex-start;
}

.tag-edits p {
  font-size: 18px;
  margin: 0;
  align-self: center;
}

.tag-x-group {
  display: flex;
  align-items: center;
}

.tag-x {
  padding-top: 15px;
  margin-right: 20px;
  background: none;
  border: none
}

.tags-group-edit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add-tag {
  min-width: 320px;
}

.tag-x:hover {
  opacity: .3;
}

.add-tag-title {
  margin-bottom: 10px;
}


.tag-edit-body {
  display: flex;
  flex-direction: row;
  gap: 50px
}

.return-btn-tags {
  margin-top: 20px;
}

.entry-insert label,
.details-entry label {
  font-size: 18px;
}

.form-name .btn-submit,
.form-definition .btn-submit,
.form-example .btn-submit,
.form-description .btn-submit,
.form-resource .btn-submit {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.form-resource .btn-submit,
.form-name .btn-submit {
  max-width: 300px;
}

.form-definition .btn-submit,
.form-example .btn-submit {
  max-width: 600px;
}

.form-description .btn-submit {
  max-width: 600px;
}

.url-section {
  margin-top: 15px;
}

.password-group,
.username-group {
  display: flex;
  align-items: center;
  gap: 5px
}

.password-group {
  margin-top: 20px;
}

.align-right {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  max-width: 390px;
}

/***********************************************/

/**************Insert Forms*********************/

.text-area {
  display: flex;
  flex-direction: column;
}

.text-area textarea {
  align-self: flex-start;
}

.non-login-msg {
  font-size: 18px;
}

div .non-login-msg {
  font-size: 22px;
  margin: 0
}

.input-group-1 {
  margin-bottom: 15px;
}

.input-group-1 .text,
.input-group-1 .text-num,
.input-group-1 textarea {
  border: 1px solid rgb(125, 125, 125);
}

.radio-label,
.check-label {
  font-weight: 300;
}

.head-label {
  font-weight: 500;
}

form .text,
form .text-num {
  max-width: 300px;
}

form .text-area {
  max-width: 600px;
}

form .media-upload {
  display: flex;
  flex-direction: column;
}

form .media-upload input {
  margin-left: 10px;
  margin-top: 10px;
}

.input-group-1 small {
  font-size: 14px;
  margin-left: 10px;
}

.input-group-1 .text-num {
  max-width: 75px;
}

.p-label {
  margin: 0;
}

.radio-input,
.check-input {
  margin-left: 5px;
}

.insert-form .submit-btn {
  display: flex;
  flex-direction: row-reverse;
}

.insert-form {
  max-width: 600px;
}

.example-citation {
  margin-top: -8px;
}

/***********************************************/

/**************Login Page*********************/


.success-login-msg {
  font-size: 24px;
  margin: 0
}

/***********************************************/

.hidden {
  display: none;
}
