.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-btn {
  background: none;
  border: none
}

.img-btn:hover {
  opacity: .3;
}

main {
  padding-left: 10px;
  padding-bottom: 20px;
}

.logo,
.logo-cite {
  margin-left: 10px;
}

main {
  padding-right: 10px;
}

.login {
  margin-right: 10px;
}

.logo-cite {
  font-size: 8px;
  margin-top: -30px;
}

p {
  font-size: 18px;
}

.bg-nav-ft {
  background-color: #96d1fb;
}

main {
  background-color: #e3f2fd;
  min-height: 620px;
}

.title {
  font-size: 48px;
}

.ft-mg {
  padding: 10px
}

.no-tags-alert {
  display: flex;
  justify-content: center;
}

.filter-list {
  list-style-type: none
}

.filter-list-ul {
  margin-top: -20px;
}

.filter-submit-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 10px;
}


.filter-form {
  max-width: 250px;
}

.catalog-sect {
  display: flex;
  flex-direction: row;
}

.catalog-body {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.catalog-queries {
  display: flex;
}


/******** CSS STYLING FOR DETAILS PAGE *********/

.record-name {
  font-size: 48px;
  margin-bottom: 20px;
}

.record-display {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px
}

.record-info1 {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.record-info2 {
  margin-right: 10px;
}

.hot-logo {
  color: red;
  font-size: 30px;
  font-weight: 700;
}

.rating-p,
.hot-p {
  font-size: 8px;
}

.record-ratings-tags {
  margin-top: 5px;
}

.bg-tag-color {
  background-color: rgb(214, 168, 0);
  ;
}

.tag-mg {
  margin-top: 15px;
}

.rating-logo,
.hot-logo {
  font-size: 24px;
}

.rating,
.hot-score {
  font-size: 20px;
}

.bg-code {
  color: #265077;
  background-color: rgb(236, 247, 255);
  padding: 10px;
  margin: 10px;
  margin-right: 15px;
}

.exit-filter {
  background: none;
  border: none;
  text-decoration: none;
}

.exit-filter:hover {
  opacity: .3;
}


/***********************************************/
